<!DOCTYPE html>
<html lang="pt-br">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro</title>
        <link rel="stylesheet" type="text/css" href="./style4.css">
</head>
<body>
        <header>
                <img class="logo" src="./logo.png" alt="icone"/>
        </header>
        <main>
                <div class="texto-crie-sua-conta">
                        <h1>Conta não encontrada!</h1>
                </div>

                <div class="input-box">
                        <input type="submit" name="sign-in" value="Tentar novamente">
                </div>
                <div class="input-box2">
                        <input type="submit" name="sign-in" value="Criar conta">
                </div>
        </main>
</body>
</html>